.menucross{
    font-size: 36px;
    color: black;
    position: absolute;
    top:2vh;
    left: 25vw;
}
.menubar{
    font-size: 36px;
    color: black;
    position: absolute;
    top:2vh;
    left: 2vw;
}
.in{
    display: none;
}
.clo{
    background-color: grey;
    color: white;
    width: 25vw;
    position: absolute;
    top:0%;
    left : -25vw;
}
.close{
      transform: translateX(-25vw);
      transition: all 2s ease;
    
}
.open{
    transform: translateX(25vw);
    transition: all 1s ease;
}